<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-samples">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Tests</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_tests}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="samples-tested">
			  	<div class="card-header">
			  		<h5 class="card-title">Samples Tested</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{tested}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="samples-in-research">
			  	<div class="card-header">
			  		<h5 class="card-title">Samples in Research</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{in_research}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>